<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{lookup config.attackTypes data.attackType }}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    <a class="item" data-tab="conditionals">{{localize "PF1.Conditionals"}}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab flexcol active" data-group="primary" data-tab="description">
      {{roll-editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="data.proficient" {{checked data.proficient}}/> {{localize "PF1.Proficient"}}
        </label>

        {{#unless isNaturalAttack}}
        <label class="checkbox">
          <input type="checkbox" name="data.masterwork" {{checked data.masterwork}}/> {{localize "PF1.Masterwork"}}
        </label>
        {{/unless}}

        {{#if isNaturalAttack}}
        <label class="checkbox">
          <input type="checkbox" name="data.primaryAttack" {{checked data.primaryAttack}}/> {{localize "PF1.PrimaryAttack"}}
        </label>
        {{/if}}

        {{#if owner}}
        <label class="checkbox">
          <input type="checkbox" name="data.showInQuickbar" {{checked data.showInQuickbar}}/> {{localize "PF1.ShowInQuickbar"}}
        </label>
        {{/if}}

        {{#unless isNaturalAttack}}
        <label class="checkbox">
          <input type="checkbox" name="data.broken" {{checked data.broken}}/> {{localize "PF1.Broken"}}
        </label>
        {{/unless}}

        <label class="checkbox">
          <input type="checkbox" name="data.nonlethal" {{checked data.nonlethal}}/> {{localize "PF1.Nonlethal"}}
        </label>
      </div>

      <div class="form-group">
        <label>{{localize "PF1.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{data.enh}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      <h3 class="form-header">{{localize "PF1.AttackDetails"}}</h3>

      {{!-- Attack Type --}}
      <div class="form-group">
        <label>{{localize "PF1.AttackType"}}</label>
        <select name="data.attackType">
          {{#select data.attackType}}
          {{#each config.attackTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Weapon Hold Type --}}
      {{#unless isNaturalAttack}}
      <div class="form-group">
        <label>{{localize "PF1.Held"}}</label>
        <select name="data.held">
          {{#select data.held}}
          {{#each config.weaponHoldTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{/unless}}

      <h3 class="form-header">{{localize "PF1.AttackUsage"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/pf1/templates/items/parts/item-activation.hbs"}}

      <h3 class="form-header">{{localize "PF1.AttackAction"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/pf1/templates/items/parts/item-action.hbs"}}

      <h3 class="form-header">{{localize "PF1.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/pf1/templates/items/parts/item-template.hbs"}}

      {{!-- Advanced Tag --}}
      {{> "systems/pf1/templates/items/parts/item-tag.hbs"}}
    </div>

    {{!-- Conditionals Tab --}}
    <div class="tab" data-group="primary" data-tab="conditionals">
      {{> "systems/pf1/templates/items/parts/item-conditionals.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>
  </section>
</form>
