<div class="inventory-filters spellbook-filters">
  <div class="flexrow spellcasting-misc pf1-sheet-group">
    <div class="spellcasting-concentration flexrow">
      <div class="rollable image-d20"></div>
      <label><h3>{{localize "PF1.Concentration"}}</h3></label>
      <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentrationFormula"
      value="{{spellbook.orig.concentrationFormula}}" placeholder="{{localize "PF1.ConcentrationBonusFormula"}}" />
    </div>
    
    <div class="spellcasting-cl flexrow">
      <div class="rollable image-d20"></div>
      <label><h3>{{localize "PF1.CasterLevel"}}</h3></label>
      <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.cl.formula"
      value="{{spellbook.orig.cl.formula}}" placeholder="{{localize "PF1.CasterLevelBonusFormula"}}" />
    </div>

    <div class="spellcasting-config flexrow" style="flex: 0 5 5%; align-items: center; margin-left: auto; text-align: right;">
      <label><a class="hide-show" data-for="spellbook-info_{{spellbookIndex}}"><i class="fas fa-cogs"></i></a></label>
    </div>
  </div>
  <div class="hide spellbook-info_{{spellbookIndex}} {{#if (lookup hiddenElems (concat "spellbook-info_" spellbookIndex))}}hidden{{/if}}">
    <div class="flexrow spellcasting-notes pf1-sheet-group">
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentrationNotes" placeholder="{{localize "PF1.ConcentrationNotes"}}">{{spellbook.orig.concentrationNotes}}</textarea>
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.clNotes" placeholder="{{localize "PF1.CasterLevelNotes"}}">{{spellbook.orig.clNotes}}</textarea>
    </div>
    
    <div class="flexrow">
      <div class="flexcol pf1-sheet-group">
        <div class="form-group spellcasting-class tooltip">
          <div class="tooltipcontent">
            @cl : {{spellbook.orig.cl.total}}<br>
            @spells.{{spellbookIndex}}.cl.total : {{spellbook.orig.cl.total}}

            {{#with (lookup sourceDetails.data.attributes.spells.spellbooks spellbookIndex)}}
            {{#if cl.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each cl.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{/with}}
          </div>
          <label><h3>{{localize "PF1.SpellcastingClass"}}</h3></label>
          <select name="data.attributes.spells.spellbooks.{{spellbookIndex}}.class" data-dtype="String">
            {{#select spellbook.orig.class}}
            <option value="">{{localize "PF1.None"}}</option>
            <option value="_hd">{{localize "PF1.HitDie"}}</option>
            {{#each data.classes as |cls a|}}
            <option value="{{a}}">{{cls.name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        
        <div class="form-group spellcasting-ability">
          <label><h3>{{localize "PF1.SpellcastingAbility"}}</h3></label>
          <select name="data.attributes.spells.spellbooks.{{spellbookIndex}}.ability" data-dtype="String">
            {{#select spellbook.orig.ability}}
            <option value="">{{localize "PF1.None"}}</option>
            {{#each data.abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        
        <div class="flexrow spell-failure">
          <label><h3>{{localize "PF1.ArcaneSpellFailure"}}</h3></label>
          <input type="text" disabled value="{{spellFailure}}%"/>
        </div>

        <div class="flexrow formulas">
          <label><h3>{{localize "PF1.BaseDCFormula"}}</h3></label>
          <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.baseDCFormula"
          value="{{spellbook.orig.baseDCFormula}}" placeholder="{{localize "PF1.BaseDCFormula"}}" />
        </div>
        
        <div class="flexrow spell-slot-ability-bonus">
          <label><h3>{{localize "PF1.SpellSlotAbilityBonus"}}</h3></label>
          <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellSlotAbilityBonusFormula"
                             value="{{spellbook.orig.spellSlotAbilityBonusFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>

        <div class="flexrow domain-slot-value">
          <label><h3>{{localize "PF1.DomainSlotValue"}}</h3></label>
          <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.domainSlotValue"
            value="{{spellbook.orig.domainSlotValue}}" title="{{localize "PF1.DomainSlotValueDesc"}}" placeholder="0" data-dtype="Number" />
        </div>

        {{#if spellbook.orig.spellPoints.useSystem}}
        <div class="flexrow spell-points">
          <h3>{{localize "PF1.SpellPoints"}}</h3>
          <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.maxFormula"
          value="{{spellbook.orig.spellPoints.maxFormula}}" placeholder="{{localize "PF1.MaxFormula"}}" title="{{localize "PF1.MaxFormula"}}"/>
        </div>
        <div class="flexrow spell-points-rest">
          <h3>└ {{localize "PF1.RestoredOnRest"}}</h3>
          <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.restoreFormula"
          value="{{spellbook.orig.spellPoints.restoreFormula}}" placeholder="{{localize "PF1.SpellPointsMax"}}" title="{{localize "PF1.Formula"}}"/>
        </div>
        {{/if}}
      </div>
      
      <div class="flexcol caster-preferences pf1-sheet-group">
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.autoSpellLevels"
          {{checked spellbook.orig.autoSpellLevels}}/> {{localize "PF1.AutomaticSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spontaneous"
          {{checked spellbook.orig.spontaneous}}/> {{localize "PF1.SpellPrepSpontaneous"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.arcaneSpellFailure"
          {{checked spellbook.orig.arcaneSpellFailure}}/> {{localize "PF1.ArcaneSpellFailure"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.useSystem"
          {{checked spellbook.orig.spellPoints.useSystem}}/> {{localize "PF1.UseSpellPoints"}}
        </label>
      </div>
    </div>
  </div>
  
  <div class="flexrow spell-range">
    <table>
      <thead>
        <tr>
          <th class="tooltip">
            {{localize "PF1.DistClose"}}

            <div class="tooltipcontent">
              @spells.{{spellbookIndex}}.range.close : {{spellbook.orig.range.close}}
            </div>
          </th>
          <th class="tooltip">
            {{localize "PF1.DistMedium"}}

            <div class="tooltipcontent">
              @spells.{{spellbookIndex}}.range.medium : {{spellbook.orig.range.medium}}
            </div>
          </th>
          <th class="tooltip">
            {{localize "PF1.DistLong"}}

            <div class="tooltipcontent">
              @spells.{{spellbookIndex}}.range.long : {{spellbook.orig.range.long}}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{spellbook.orig.range.close}}</td>
          <td>{{spellbook.orig.range.medium}}</td>
          <td>{{spellbook.orig.range.long}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{!-- Spellbook Navigation --}}
<div class="inventory-filters flexrow">  
  <ul class="filter-list flexrow" data-filter="spellbook-{{spellbookIndex}}">
    {{#each spellbook.data as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<div class="spell-points-current flexrow">
  {{#if spellbook.orig.spellPoints.useSystem}}
  <h3>{{localize "PF1.SpellPoints"}}</h3>
  <div class="tooltip value">
    <span class="tooltipcontent">
      {{localize "PF1.SpellPointsCurrent"}}<br><br>

      @spells.{{spellbookIndex}}.spellPoints.value : {{spellbook.orig.spellPoints.value}}
    </span>

    <span class="text-box" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.value"
    data-dtype="Number">{{spellbook.orig.spellPoints.value}}</span>
  </div>
  <span class="sep"> / </span>
  <div class="tooltip max">
    <span class="tooltipcontent">
      {{localize "PF1.SpellPointsMax"}}<br><br>

      @spells.{{spellbookIndex}}.spellPoints.max : {{spellbook.orig.spellPoints.max}}
    </span>

    <span class="text-box">{{spellbook.orig.spellPoints.max}}</span>
  </div>
  {{/if}}
</div>

<section class="spells_{{spellbookIndex}}-body">

  <div class="inventory-group flexcol">
    <ol class="inventory-list">
      {{#each spellbook.data as |section sid|}}
      {{#unless section._hidden}}
      <li class="flexrow inventory-header spellbook-header">
        <div class="item-name flexrow">
          <h3>{{section.name}}</h3>
        </div>
        
        {{#unless ../spellbook.orig.spellPoints.useSystem}}
        <div class="item-detail spell-uses">
          {{#if section.usesSlots}}
          <div class="tooltip spell-slots{{#if ../spellbook.orig.spontaneous}} spontaneous{{/if}}">
            <span class="text-box" data-dtype="Number" {{#if ../spellbook.orig.spontaneous}}name="data.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.value"{{/if}}>
              {{section.uses}}
            </span>
            <span class="tooltipcontent">
              {{#unless ../spellbook.orig.spontaneous}}
              {{localize "PF1.LeftToPrepare"}}
              {{else}}
              {{localize "PF1.CastsLeft"}}
              {{/unless}}
            </span>
          </div>
          <span class="sep"> / </span>
          <div class="tooltip spell-max">
            <span class="text-box" data-dtype="Number" name="data.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.base">{{section.slots}}</span>
            <span class="tooltipcontent">
              {{localize "PF1.SpellsTotalEachDay"}}
            </span>
          </div>
          {{ else }}
          <span class="spell-slots">{{{section.uses}}}</span>
          <span class="sep"> / </span>
          <span class="spell-max">{{{section.slots}}}</span>
          {{/if}}
        </div>
        {{/unless}}
        
        <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

        <div class="item-detail spell-activation"><i class="icon icon-hand large" title="{{localize "PF1.Usage"}}"></i></div>

        <div class="item-detail spell-components"><i class="icon icon-expense large" title="{{localize "PF1.Components"}}"></i></div>
        
        <div class="item-detail spell-school"><i class="icon icon-spell-book large" title="{{localize "PF1.SpellSchool"}}"></i></div>
        
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i>
          </a>
          {{/if}}
          <a data-action="compendium" data-action-target="spells" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
        </div>
      </li>
      
      <ol class="item-list">
        {{#each section.items as |item i|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>{{item.name}}</h4>
          </div>
          
          {{#unless ../../spellbook.orig.spellPoints.useSystem}}
          <div class="item-detail spell-uses flexrow">
            {{#unless item.data.atWill}}
            {{!-- Domain Marker --}}
            <div>
              {{#if item.data.domain}}
              <i class="fas fa-hand-sparkles" title="{{localize "PF1.Domain"}}/{{localize "PF1.School"}}"></i>
              {{/if}}
            </div>

            {{#unless ../../spellbook.orig.spontaneous}}
            <div class="tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.Prepared"}}
              </span>
              <span class="text-box" data-type="amount" data-dtype="Number">{{item.data.preparation.preparedAmount}}</span>
            </div>
            <span class="sep"> / </span>
            <div class="tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.InitiallyPrepared"}}
              </span>
              <span class="text-box" data-type="max" data-dtype="Number">{{item.data.preparation.maxAmount}}</span>
            </div>
            {{else}}
            <a class="item-control item-toggle-data {{#if data.preparation.spontaneousPrepared}}enabled{{/if}}" data-name="data.preparation.spontaneousPrepared"
              title="{{#if data.preparation.spontaneousPrepared}}{{localize "PF1.Prepared"}}{{else}}{{localize "PF1.Unprepared"}}{{/if}}">
              <i class="fas fa-cog"></i>
            </a>
            {{/unless}}
            {{else}}
            {{localize "PF1.SpellPrepAtWill"}}
            {{/unless}}
          </div>
          {{/unless}}
          
          <div class="item-detail item-actions">
            <div class="item-attack tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.UseSpell"}}
              </span>
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
            </div>
          </div>

          <div class="item-detail spell-activation"><span>{{labels.activation}}</span></div>
          
          <div class="item-detail spell-components"><span>{{labels.components}}</span></div>
          
          <div class="item-detail spell-school"><span>{{labels.school}}</span></div>
          
          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
      {{/unless}}
      {{/each}}
    </ol>
  </div>
</section>
